/* Regole generali della pagina */
body{
  background-color: #8ae8ff;
  font-family: 'Nerko One', cursive;
  margin: 0;
}
main {
  margin: 30px 20% 30px 20%;
}
/* Regole corpo della pagina */
h1 {
  text-align: center;
}
.cardsstats {
  background-image: url("../img/pattern.png");
  background-color: white;
  width: 200px;
  height: 250px;
  border-radius: 10px;
}
