/* Regole generali della pagina */
body{
  background-color: #8ae8ff;
  font-family: 'Nerko One', cursive;
  margin: 0;
}
main {
  margin: 30px 30% 30px 30%;
}
/* Regole corpo della pagina */
h1 {
  text-align: center;
}
.cardsstats {
  background-image: url("../img/pattern.png");
  background-color: white;
  background-size: 70%;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  display: inline-block;
}
#first, #second {
  margin-left: 50px;
}
#zero:hover {
  background-image: url("../img/noun_Bicycle_3134821.png")
}
#first:hover{

}
#second:hover {

}
