/* Regole generali della pagina */
body{
  background-color: #8ae8ff;
  font-family: 'Nerko One', cursive;
  margin: 0;
}
main {
  margin: 70px 25% 30px 25%;
}
#line-2, #line-3 {
  margin-top: 30px;
}
/* Regole corpo della pagina */
h1 {
  text-align: center;
  color: white;
}
.cardsstats {
  background-image: url("../img/pattern.png");
  background-color: white;
  background-size: 70%;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: inline-block;
}
#first, #second,#third, #first-blank, #second-c, #third-d, #first-bc, #second-cd, #third-de {
  margin-left: 30px;
}
#zero:hover {
  background-image: url("../img/noun_Bicycle_3134821.png");
  background-size: contain;
}
#first:hover{
  background-image: url("../img/noun_Cruise_Ship_3134824.png");
  background-size: contain;
}
#second:hover {
  background-image: url("../img/noun_Tractor_3134797.png");
  background-size: contain;
}
#third:hover {
  background-image:
}
#zero-a:hover {
  background-image: url("../img/noun_Tram_3134750.png");
  background-size: contain;
}
#first-blank {
  background-image: none;
}
img[src="img/noun_air_balloon_3134741.png"] {
  width: 200px;
  height: 175px;
}
span{
  position: relative;
  top: -10px;
  left: 60px;
  color: red;
}
#second-c:hover {
  background-image: url("../img/noun_Bicycle_3134821.png");
  background-size: contain;
}
#third-d:hover {
  background-image: url("../img/noun_Cruise_Ship_3134824.png");
  background-size: contain;
}
